.addItemForm{
    position: relative;
}

.addItemForm input{
    font-size: 14px;
    color: #131313;
    padding: 10px;
    border: 1px solid #131313;
    outline: none;
    margin-bottom: 20px;
}
.addItemForm button{
    background: #131313;
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid #131313;
    color: #fff;
    font-size: 14px;
}
.addItemForm button:active{
    background: #444444;
    border: 1px solid #444444;
}

.error {
    position: absolute;
    top: 45px;
    color: red;
}