.searchContainer{
    background-color: #d5d5ff;
    padding: 20px;
}
.searchContainer input{
    font-size: 14px;
    color: #131313;
    padding: 10px;
    border: 1px solid #131313;
    outline: none;
    margin-bottom: 20px;
}
.search {
    display: flex;
    background-color: #fff;
    padding-left: 10px;
}
.searchNone {
    display: none;
}
@media screen and (max-width: 630px) {
    .searchContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
    }
}