.searchContainer{
    background-color: #d5d5ff;
    height: 100vh;
    padding: 20px;
}
.searchContainer input{
    font-size: 14px;
    color: #131313;
    padding: 10px;
    border: 1px solid #131313;
    outline: none;
    margin-bottom: 20px;
}
.search {
    display: flex;
    background-color: #fff;
}
.searchNone {
    display: none;
}