.App {
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-direction: row;
}

.app-content{
    width: 100%;
    margin: 0 40px;
    padding: 20px 0;
}

.app-todolists{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}

.error {
    border: red 1px solid;
}

.is-done {
    opacity: 0.5;
}