.App {
    display: flex;
    flex-direction: column;
    position: relative;
}

.app-container {
    display: flex;
    flex-direction: row;
}

.app-content{
    width: 100%;
    margin: 0 40px;
    padding: 20px 0;
}

.app-todolists{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}

.app-error{
    position: absolute;
    top: 80px;
    left: 600px;
    background-color: red;
    color: #fff;
    padding: 10px;
}

.is-done {
    opacity: 0.5;
}

@media screen and (max-width: 630px) {
    .app-container {
        flex-direction: column;
    }
}
@media screen and (max-width: 740px) {
    .app-error {
        top: 120px;
        left: 20px;
    }
}