.header {
    background-color: #131313;
    color: #fff;
    padding: 10px 50px;
}
.header span {
    font-size: 30px;
    font-weight: bold;
}

.header button{
    background: #fff;
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid #fff;
    color: #131313;
    font-size: 14px;
    margin-left: 20px;
}
.header button:active{
    background: #afafaf;
    border: 1px solid #afafaf;
}

@media screen and (max-width: 630px) {
    .header {
        width: 100%;
    }
}